.play{
    width:100%;
    position : relative;
    margin-top : 3.125rem;
    display : flex;
    flex-direction:column;
    .traingle{
        position:absolute;
        align-self : center;
        margin : 4.375rem auto 0;
        
    }
    .items{
        display : flex;
        justify-content: center;
        .icon{
            height : 160px;
            width : 160px;
            border : 18px solid;
            border-radius : 50%;
            border-color: transparent;
            transition: transform .3s;
            &-paper{ 
                @include icon($imagePaper , $paper-gradient);
                transform : translateX(2rem);
                &:hover{
                    transform : translateX(2rem) scale(1.1);
                }
            }
            &-scissors{ 
                @include icon($imageScissors ,  $scissors-gradient );
                transform : translateX(12rem);
                &:hover{
                    transform : translateX(12rem) scale(1.1);
                }
            }
            &-rock{ 
                @include icon($imageRock , $rock-gradient);
                transform : translateX(-16rem) translateY(21rem);
                &:hover{
                    transform : translateX(-16rem) translateY(21rem) scale(1.1);
                }
            }
        }
    }

}